
<div class="jobs-list rightWrap" [ngClass]="{'fixPadding': sidebarMenuOpened }">
	<div class="row">
		<div [class.col-12]="!sidebarMenuOpened" [class.col-9]="sidebarMenuOpened" [class.pr-0]="sidebarMenuOpened">
			<div class="pageTitle">
				<div class="">
					<h5>&nbsp;{{pageTitle}}</h5>
				</div>		
				<div class="titleRight">							
					<button type="button" class="btn btn-primary">Add New <i class="fa fa-plus"></i></button>
				</div>
			</div>
			<div id="sticky-anchor"></div>
			<!-- listing will start here-->
      <div class="card table-responsive checkin-out-timesheet" id="dataTable">
        <ngx-datatable #myTable class="material ngx-datatable expandable" [rows]="tableData" [loadingIndicator]="loadingIndicator"
          [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true"
          [limit]="itemsPerPage" ngx-resize-watcher>      
            <ngx-datatable-column *ngFor="let col of columns"
             [name]="col.name" [prop]="col.prop"
				[width]="col.width" [sortable]="col.sortable">
         {{col.name}}
				<!-- <ng-template *ngIf="col.prop === 'Iron_Job_num__c'" let-row="row" let-value="value"
					ngx-datatable-cell-template>
					<div class="align-col">
						<span *ngIf="tableData[0]['message']">{{value}}</span>					
					</div>
				</ng-template> -->
				<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
					<!-- <span class="release-action" *ngIf="tableData[0] && col.prop === 'nameCategory' && !tableData[0]">
										
					 </span>	 -->
					<span *ngIf="col.prop === 'nameCategory'">
						<span *ngIf="row.nameCategory">
						{{value}}
						</span> 					
					</span>	

					 <span *ngIf="col.prop === 'createdAt'">
						<span *ngIf="row.createdAt">
                     {{value}}
						</span> 					
					</span>
				</ng-template>

				 <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
					<span class="datatable-header-cell-wrapper float-left">
						<span class="datatable-header-cell-label draggable" (click)="sort()">
							{{col.name}}
						</span>
					</span>
					<div class="input-group float-right">
						<input type='text' [id]="col.prop" name="col.prop"
							tabindex="-1" placeholder="Search" (keyup)='updateFilter($event, col.prop)'
							/>
						<!-- <span class="input-group-btn">
							<a  class="dataTable-cross" 
								href="javascript:void(0);">
								<i class="fa fa-times suffex cross"></i>
							</a>
						</span> -->
					</div>
				</ng-template> 

    	</ngx-datatable-column>
			<ngx-datatable-footer>
				<ng-template ngx-datatable-footer-template let-rowCount="totalCount" let-pageSize="pageSize"
				  let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
				  <div style="padding: 5px 10px; width: 100%;">                
					<div>
					  Showing Page: {{curPage}} to {{pageSize}}  of  {{totalCount}}
					</div>
				  </div>
				  <datatable-pager
				  [pagerLeftArrowIcon]="'datatable-icon-left'"
				  [pagerRightArrowIcon]="'datatable-icon-right'"
				  [pagerPreviousIcon]="'datatable-icon-prev'"
				  [pagerNextIcon]="'datatable-icon-skip'"
				  [page]="curPage"
				  [size]="pageSize"
				  [count]="totalCount"
				  [hidden]="!((totalCount / pageSize) > 1)"
				  (change)="table.onFooterPage($event)">
				</datatable-pager>
				</ng-template>
			  </ngx-datatable-footer>
        </ngx-datatable>
      </div>
		</div>
    <!-- Sidebar for filters -->
		<!-- <div class="col-3 fix-right-sidebar" [ngClass]="{'right-sidebar-opened': sidebarMenuOpened}">
			<app-right-sidebar class="job-listing" dateLabel="Released Date" [visibleMenuOptions]="visibleMenuOptions"
				[disabledMenuOptions]="disabledMenuOptions" [currentMenuOption]="currentMenuOption"
				[fromDashboard]="false" (appliedFilter)="filterApplied($event)" [enableFilters]="enableFilters"
				(sidebarAction)="isRightMenuOpened($event)" [enableCustomerFilter]="true">
			</app-right-sidebar>
		</div> -->
	</div>
</div>

<!-- Add Release note modal Starts -->
<!-- <ng-template #addReleaseNote let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{dataObj?.id ? editTitle :'Add Release Notes'}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-add-release-note (closePopup)="refreshList(event);closeModal()" [noteInfo]="dataObj"></app-add-release-note>
  </div>
</ng-template> -->
  <!-- <ng-template #noRecordSelctedTemplate let-c="close" let-d="dismiss" class="modal-full">
	<ng-container class="cancel-WO-container">
		<div class="modal-header">
			<ng-container>
				<h4 class="modal-title" id="gridSystemModalLabel"><span class="mdi mdi-alert text-warning"></span> Warning!! </h4>
			</ng-container>
			<button type="button" class="close" aria-label="Close" (click)="d('Cross click');">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</ng-container>
  </ng-template> -->